<div class="alignCen">
  <input type="hidden" id="colorPicker" class="demo" value="<%= current_user_color %>"></br></br>

  <table>
    <% @matrices.in_groups_of(20).each do |rows| %>
      <tr>
        <% rows.each do |column| %>
          <%= td_content_tag(column) %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
