<div class="alignCen">

  <h2>Top Users</h2>
  <div class="topUsersList">
    <% if @top_users.present? %>
      <% @top_users.each_with_index do |top_user, index| %>
        <%= index+1 %>.
        <b><%= top_user.user.name %></b> placed <span class="highlight"><%= top_user.distinct_color_count %></span> colors totaly.
        <%= link_to 'Fav Colors', fav_colors_path(user_id: top_user.user_id), remote: true %>
        <div class="favColorsForUser_<%= top_user.user_id %>"></div></br>
      <% end %>
    <% else %>
      Yet to get colorful.
    <% end %>
  </div>


</div>
