<header id="header">
  <div class="alignRight">
    <span class="margin20">Welcome: <span class="userName"><%= @current_user.name.camelcase %></span></span>
    <span class="margin20"><%= link_to 'Dashboard', root_path %></span>
    <span><%= link_to 'LeaderBoard', leaderboard_index_path %></span>
  </div>
</header>