// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  width: 50%;
  display: inline-block;
}

.alignRight{
  text-align: right;
  padding-bottom: 20px;
}

.margin20{
  margin-right: 20px;
}

.boxContainer, .favColorContainer{
  width: 60px;
  height:60px;
  border: 2px solid;
  text-align: center;
  font-size: -webkit-xxx-large;
}