<!DOCTYPE html>
<html>
  <head>
    <title>ColorPicker</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'shared/header' %>

    <div id="container">
      <%= yield %>
    </div>

    <%= render partial: 'shared/footer' %>

  </body>
</html>
